<div class="container p-3 mt-2">
    <div class="row">
        <div class="col"></div>
        <div class="col col-6">
            <div class="alert alert-warning alert-dismissible fade show" id="alertBox" role="alert">
                <strong>Success!</strong> {{{reg-status}}}
                <button type="button" class="close" data-dismiss="alert" onclick="closeAlert()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/addUser" method="POST">
                <div class="mb-3">
                    <label class="col-form-label">Name:</label>
                    <input type="text" name="name" class="form-control" id="full-name">
                </div>
                <div class="mb-3">
                    <label class="col-form-label">Email:</label>
                    <input type="number" name="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label class="col-form-label">Enter Password:</label>
                    <input type="password" name="mobile" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                    <label class="col-form-label">Confirm Password:</label>
                    <input type="number" name="password" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-primary btn-success" value="Submit">
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>

</div>


<script>

    function closeAlert() {
        document.getElementById("alertBox").style.display = "none";
    }
</script>